.intro {
  font-weight: bold;
  color: darkgreen;
}

img.intro {
border-radius: 20px;
border-style: ridge;
border-color: lightgrey;
border-width: thick;
}

.highlight {
  background-color: lightyellow;
  border: 1px solid yellow;
  color: blue;
}
